{% extends "base.html" %}
{% from "macros/form_field.html" import form_field %}

{% block title %}Create new post{% endblock %}

{% block content_title %}Create new post{% endblock %}

{% block content %}
    <form action="{{ url_for('posts.create') }}" class="form formhorizontal" method="post">
        {% for field in form %}
            {{ form_field(field) }}
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btndefault">Create</button>
                <a class="btn" href="{{ url_for('posts.index') }}">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}