{% extends "base.html" %}
{% from "macros/form_field.html" import form_field %}

{% block title %}Upload an image{% endblock %}

{% block content_title %}Upload an image{% endblock %}
{% block content %}
    <form action="{{ url_for('posts.image_upload') }}" enctype="multipart/form-data" method="post">
        {% for field in form %}
            {{ form_field(field) }}
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btndefault">Upload</button>
                <a class="btn" href="{{ url_for('posts.index') }}">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}